* {
  padding: 0;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* MAIN ARTICLE STYLING */

.main-article {
  background: url(img/your_verse_hero.jpg) no-repeat center -780px;
  width: 1400px;
  height: 530px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  margin-top: 75px;
  background-color: darkgrey;
  color: white;
  border-radius: 5px;
  border: grey 1px solid;
}

.navbar ul {
  display: block;
  display: flex;
  flex-direction: row;
  height: 36px;
}

.navbar-ul-li {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
  font-size: 12px;
  border-right: white 1px solid;
}

.navbar-ul-input {
  width: 125px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar-ul-input input {
  width: 105px;
  margin: 2px 0;
  height: 20px;
  border: none;
}

.headersCont {
  color: white;
  
}
.h2 {
  margin-top: 50px;
  font-size: 50px;
  border: blue solid 1px;
  font-weight: 300;
}

.h3 {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  font-weight: 100;
  width: 700px;
  border: red solid 1px;
}

.h4{
  margin-top: 40px;
  text-decoration: none;
}

.h4 a {
  text-decoration: none;
}

/* SIDEBAR STYLING */
.aside-element {
  width: 1400px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

/* FOOTER STYLING */
.footer-element {
  background-color: white;
  width: 1400px;
  height: 90px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  justify-content: center;
  
  

}
.footerContain { 
  display: flex;
  flex-direction: row;
  font-size: 10px;
  margin-top: 30px;
  
}

 .articlesImgs {
  padding:2px solid white;  
}

.linksFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parFooter {
  margin-right: 40px;
  margin-bottom: 20px;
}

.linksFooter {
  list-style: none;
}

.linksFooter li {
  border-right: 1px solid grey;
  margin-right: 10px;
  padding-right: 10px;
}

a {
  color:rgb(15, 167, 167);
}